@charset "UTF-8";
body {
  position: relative;
  background: #ffffff;
  font-style: normal;
  line-height: normal;
  border: none;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  padding-top: 80px;
}

h1, h2, h3, h4 {
  font-family: roboto,sans-serif;
  font-weight: 700-bold;
}

body, h1, h2, h3, h4, ul, li, p {
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  padding: 0px;
}

.container {
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

/*Верхняя линия*/
header {
  background-color: #ffffff;
}

.header-logo:focus {
  outline: none;
}

.header-logo,
.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Raleway,sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
}

.link {
  color: #212121;
}

.link:hover {
  outline: none;
  color: #2196F3;
}

.link:focus {
  outline: none;
  border-color: #ffffff;
  color: #2196F3;
}

.menu-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link.header-logo
.contacts.widget
.aside.logo-footer {
  cursor: pointer;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  margin-right: 53px;
}

.navigation {
  padding-right: unset;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: -50px;
}

.contacts:last-child {
  margin-right: 50px;
}

.contacts {
  fill: #757575;
}

.link-mailto, .link-tel {
  margin-right: 10px;
}

.menu-nav-contacts .contacts:hover, .menu-nav-contacts .contacts:focus,
.menu-nav-contacts .contacts:hover,
.menu-nav-contacts .contacts:focus {
  outline: none;
  color: #2196F3;
}

.email, .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*контакты*/
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-style: normal;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts:hover, .contacts:focus {
  outline: none;
  color: #2196F3;
  fill: #2196F3;
}

/* модальное окно */
/* модальное окно */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.window {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px 41px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-black {
  cursor: pointer;
  outline: none;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  padding-left: 7px;
  padding-bottom: 3px;
}

.close-black:hover > .icon-Vector-close,
.close-black:focus > .icon-Vector-close {
  fill: #2196F3;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.email-form {
  position: relative;
  width: 570px;
  height: 100px;
}

.container-text {
  padding-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe {
  position: absolute;
  width: 200px;
  height: 50px;
  right: 0px;
  bottom: 15px;
  cursor: pointer;
  padding: 10px 29px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196F3;
}

.subscribe {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.undersign {
  margin-left: 10px;
}

.heading-modal {
  width: 448px;
  height: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.name-modal,
.tel-modal,
.email-modal,
.comment-modal {
  margin-bottom: 4px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.textarea {
  cursor: pointer;
  width: 100%;
  height: 120px;
  padding: 10px  16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.comment-block {
  height: 138px;
  margin-bottom: 20px;
}

.name-input-modal,
.tel-input-modal,
.email-input-modal {
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 5px;
  padding-left: 35px;
  padding-bottom: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.Vector-name {
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  left: 12px;
  top: 55%;
  fill: #212121;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.Vector-tel {
  width: 13px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  left: 12px;
  top: 55%;
  fill: #212121;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.Vector-mail {
  cursor: pointer;
  width: 15px;
  height: 12px;
  position: absolute;
  left: 12px;
  top: 55%;
  fill: #212121;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.name-block,
.tel-block,
.email-block {
  position: relative;
}

.name-block:hover > .Vector-name,
.name-block:focus-within > .Vector-name,
.name-block:hover > .Vector-name,
.name-block:focus-within > .Vector-name {
  fill: #2196F3;
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.tel-block:hover > .Vector-tel,
.tel-block:focus-within > .Vector-tel,
.tel-block:hover > .Vector-tel,
.tel-block:focus-within > .Vector-tel {
  fill: #2196F3;
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.email-block:hover > .Vector-mail,
.email-block:focus-within > .Vector-mail,
.email-block:hover > .Vector-mail,
.email-block:focus-within > .Vector-mail {
  fill: #2196F3;
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.name-input-modal:hover {
  border-color: #2196F3;
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.tel-input-modal:hover {
  border-color: #2196F3;
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.email-input-modal:hover {
  border-color: #2196F3;
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.textarea:hover {
  border-color: #2196F3;
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.name-block:focus-within > input {
  border-color: #2196F3;
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

input[type=text], [type=tel], [type=email], textarea {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  outline: none;
}

input[type=text]:focus, [type=tel]:focus, [type=email]:focus, textarea:focus {
  border-color: #2196F3;
}

.textarea:focus-within {
  border-color: #2196F3;
}

.textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.send-button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196F3;
}

.send-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.send-modal {
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.agreement {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.checkbox-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 20px;
}

.icon-Vector-close {
  fill: #212121;
}

.checkbox-agreement {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-mark {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.Vector-mark {
  position: absolute;
  left: 10px;
  top: 35%;
  margin: 0px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #151515;
}

.checkbox-agreement:checked + .Vector-mark {
  background-color: #2196F3;
  border: 0px;
  background-image: url("../images/Vector-check.svg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

/*шапка*/
.banner {
  background: #2F303A;
}

.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.helmet {
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../svg/Imgmin.jpg);
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../svg/Imgmin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.heading {
  width: 616px;
  height: auto;
  margin: 0px auto;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

/*особенности*/
.subject {
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: #212121;
}

.lead {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.element {
  height: 439px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.rubric {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 101px;
  margin-right: 30px;
}

.subject {
  width: 270px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  text-transform: uppercase;
  color: #212121;
}

.lead {
  width: 270px;
  height: 75px;
  padding-top: 10px;
  font-family: Roboto;
}

.ghost {
  display: block;
  border: 1px solid #EEEEEE;
}

.ghost:hover, .ghost:focus {
  outline: none;
  background: #ffffff;
  border: 1px solid #EEEEEE;
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.ghost:hover .animation-technocryk,
.ghost:focus .animation-technocryk {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ticket:nth-child(1n+1) {
  margin-right: auto;
}

.vektor-antenna,
.vektor-clock,
.vektor-diagram,
.vektor-astronaut {
  height: 120px;
  background: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-size: 70px 70px;
}

.vektor-antenna {
  background-image: url(../svg/antenna.svg);
}

.vektor-clock {
  background-image: url(../svg/clock.svg);
}

.vektor-diagram {
  background-image: url(../svg/diagram.svg);
}

.vektor-astronaut {
  background-image: url(../svg/astronaut.svg);
}

/* чем мы занимаемся */
.subtitle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  text-align: center;
}

.bowl {
  padding-bottom: 94px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumb {
  padding-left: 0;
}

.label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.label {
  position: absolute;
  width: 205px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.thumb-desktop {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 4px;
  background: rgba(47, 48, 58, 0.8);
}

.wrapper {
  position: relative;
}

.caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userpic:not(:last-child) {
  margin-right: 30px;
}

.userpic {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.names
.col {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.specialty {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.adds {
  padding-top: 20px;
  color: #ffffff;
}

.aside-mailto,
.aside-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.aside-mailto {
  padding-bottom: 9px;
  padding-top: 9px;
}

.commercial {
  background: #F5F4FA;
  padding-bottom: 94px;
  padding-top: 94px;
}

.commercial:not(:box-sizing) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 648px;
  background: #F5F4FA;
}

.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.userpic {
  width: 270px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.names {
  width: 171px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
}

.pic {
  padding-bottom: 30px;
}

.specialty {
  width: 177px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 16px;
  text-align: center;
  color: #757575;
}

.col {
  width: 208px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
}

.social-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px auto;
}

.footer-social-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex;
      -ms-flex-align: flex;
          align-items: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 20px;
  margin: 0px auto;
}

.link-instagram, .link-twitter,
.link-facebook, .link-linkedin {
  width: 20px;
  height: 20px;
  border: 0px;
  padding: 0px;
}

.instagram,
.twitter,
.facebook,
.linkedin:not(:last-child) {
  margin-right: 10px;
}

.instagram, .twitter, .facebook, .linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: #AFB1B8;
}

.instagram:hover, .instagram:focus, .twitter:hover, .twitter:focus, .facebook:hover, .facebook:focus, .linkedin:hover, .linkedin:focus {
  outline: none;
  fill: #ffffff;
  background-color: #2196F3;
}

.btn > .widget {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196F3;
}

.btn > .widget > .snap {
  cursor: pointer;
  width: 140px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.snap {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1170px;
  height: auto;
  padding-bottom: 50px;
  padding-left: 240px;
  padding-right: 240px;
}

.stud {
  margin: 0px 8px;
}

.filter {
  -webkit-transition-property: background-color,color;
  transition-property: background-color,color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.filter {
  padding: 6px 22px;
  width: auto;
  height: 38px;
  border: none;
}

.filter {
  cursor: pointer;
}

.button {
  border: 0;
}

.filter {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  background: #F5F4FA;
}

.filter:hover, .filter:focus {
  outline: none;
  color: #ffffff;
  background: #2196F3;
}

/* клиент  */
.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #AFB1B8;
}

.link-client:hover, .link-client:focus {
  outline: none;
  color: #2196F3;
  border-color: #2196F3;
  fill: #2196F3;
}

.figure {
  width: 1200px;
  height: auto;
  margin: 0px auto;
  padding-top: 94px;
  padding-bottom: 97px;
}

.indent:not(:last-child) {
  margin-right: 30px;
}

.figure-client {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  width: 1200px;
  height: auto;
  padding-bottom: 50px;
  -webkit-text-decoration-color: #212121;
          text-decoration-color: #212121;
}

.adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 252px;
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  width: auto;
  height: 240px;
  margin: 0px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.adress {
  color: #ffffff;
}

.logo-footer {
  width: 145px;
  height: 31px;
  margin-top: 50px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.instagram-connexion,
.twitter-connexion,
.facebook-connexion,
.linkedin-connexion:not(:last-child) {
  margin-right: 10px;
}

.instagram-connexion, .twitter-connexion,
.facebook-connexion, .linkedin-connexion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.instagram-connexion:hover, .instagram-connexion:focus, .twitter-connexion:hover, .twitter-connexion:focus,
.facebook-connexion:hover,
.facebook-connexion:focus, .linkedin-connexion:hover, .linkedin-connexion:focus {
  outline: none;
  background: #2196F3;
}

/* подвал JOIN */
.basement {
  width: 231px;
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accession {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.connexion {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 206px;
  height: auto;
  margin-left: 70px;
  margin-right: 93px;
  padding-bottom: 20px;
}

.adv > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email-input {
  width: 358px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
}

.email-input {
  color: #ffffff;
}

/*портфолио*/
.coloring {
  padding-bottom: 79px;
  padding-top: 94px;
}

.spreadsheet {
  width: 1200px;
  height: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ticket {
  width: auto;
  height: 404px;
}

.internal-block {
  padding: 20px 24px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Активная ссылка */
.stirring {
  margin-right: 50px;
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color  250ms linear;
  transition: color  250ms linear;
}

.link {
  position: relative;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.5px;
  left: 0px;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.current-link,
.current-link.link::after,
.link:hover:after,
.current-link,
.current-link.link::after,
.link:focus:after {
  color: #2196F3;
  opacity: 1;
}

/* портфолио технокряк */
.photo {
  position: relative;
  overflow: hidden;
}

.photo .animation-technocryk {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.animation-technocryk {
  padding: 63px 24px;
}

.technocryk {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts {
  -webkit-transition-property: background-color,color;
  transition-property: background-color,color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.instagram, .twitter, .facebook, .linkedin {
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.link-client, .instagram-connexion, .twitter-connexion,
.facebook-connexion, .linkedin-connexion, .link-mailto, .link-tel {
  -webkit-transition-property: background-color,fill, border-color;
  transition-property: background-color,fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
/*# sourceMappingURL=main.css.map */