

 /* клиент  */

 .client{
    @include flexCenter(flex);         } 
.link-client{ 
    @include flexCenter(flex);
    width: 170px;
    height: 90px;
    border: 1px solid $accent-link;
    box-sizing: border-box;
    border-radius: 4px;
    fill:$accent-link;    
        &:hover,
        &:focus{
            outline: none;
            color: $accent-color; 
            border-color: $accent-color;
            fill: $accent-color;  
          }  
        }
.figure{
    width: 1200px;
    height: auto;
    margin: 0px auto;
    padding-top: 94px;
    padding-bottom: 97px;    
} 
.indent:not(:last-child){
    margin-right: 30px;   
}
.figure-client{
    @include fonts(700);
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    width: 1200px;
    height: auto;      
    padding-bottom: 50px;
    text-decoration-color:$accent-text;   
}
 