



.adv{
    display: flex;
    align-items: center;
    height: 252px;
    background:$back-color;
    padding-top: 60px;
    padding-bottom: 60px;          }
.adress{
    width: auto;
    height: 240px;
    margin: 0px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;       } 
.adress{
    color: $my-color; } 
.logo-footer{
    width: 145px;
    height: 31px;
    margin-top: 50px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;   }

.instagram-connexion,
.twitter-connexion,
.facebook-connexion,
.linkedin-connexion:not(:last-child){
    margin-right: 10px; }
.instagram-connexion,.twitter-connexion,
.facebook-connexion,.linkedin-connexion{
    @include flexCenter(flex);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);   
    fill: $my-color;    
        &:hover,
        &:focus{
            outline: none;
            background:  $accent-color;  
  } 
}


/* подвал JOIN */
.basement {
    width: 231px;
    height: 81px;
    @include flexCenter(flex);     }
.accession{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:$my-color;    }
.connexion{      
    align-items: center;
    justify-content: center;
    width: 206px;
    height: auto;
    margin-left: 70px;
    margin-right: 93px;
    padding-bottom: 20px;      }
.adv > .container{
    @include flexCenter(flex);       }
.email-input{
        width: 358px;
        height: 50px;
        padding: 15px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background:$back-color;   }
.email-input{
        color:  $my-color;   }      