@mixin flexCenter($type){
    display: $type;
    align-items: center;
    justify-content: center;   
}
@mixin transform {
   transition-property: background-color,fill, border-color;
   transition-duration: 250ms;
   transition-timing-function: linear;
}
@mixin fonts ($type){
   font-family: Roboto;
   font-style: normal;
   font-weight: $type;
  
}
@mixin transformSocial {
   transition-property: background-color,fill ;
   transition-duration: 250ms;
   transition-timing-function: linear;
}
$ghost-color: #EEEEEE;
$accent-link:#AFB1B8;
$my-accent:#F5F4FA;
$back-color: #2F303A;
$text-color: #757575;
$accent-text:#212121;
$my-color:#ffffff;
$accent-color: #2196F3;
.caption{
    @include fonts(700);
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: $accent-text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
.userpic:not(:last-child){
    margin-right: 30px;      }      
.userpic{      
    background:$my-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;  }
.names
.col{
    @include fonts(500);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;  }
.specialty{      
    @include fonts(400);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $text-color; }

.adds{  
    padding-top: 20px;    
    color: $my-color;    }
.aside-mailto,
.aside-tel{
    display: flex;
    height: auto;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6); }
.aside-mailto{
    padding-bottom: 9px;
    padding-top: 9px;         }
.commercial{     
    background:$my-accent;
    padding-bottom: 94px;
    padding-top: 94px;         }
.commercial:not(:box-sizing){
    @include flexCenter(flex);     
    height: 648px;   
    background: $my-accent;    } 
.caption{
    @include flexCenter(flex);
    width: 270px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   }
.promo{
    @include flexCenter(flex);
    height: auto;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;   }
.userpic{
    width: 270px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    background:$my-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; }
.names{
    width: 171px;
    height: 19px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: $accent-text;   }
.pic{
    padding-bottom: 30px;     }  
.specialty{
    width: 177px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 16px;
    text-align: center;
    color:$text-color;  }
.col{
    width: 208px;
    height: 19px;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    color: $accent-text;     }  

.social-are{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px auto; 
}




.footer-social-are{
    display: flex;
    align-items: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
    margin: 0px auto;
           
 }
.link-instagram,.link-twitter,
.link-facebook,.link-linkedin{
    width: 20px;
    height: 20px;  
    border: 0px;
    padding: 0px;           
}
.instagram,
.twitter,
.facebook,
.linkedin:not(:last-child){
    margin-right: 10px; 
}
.instagram,.twitter,.facebook,.linkedin
{
   @include flexCenter(flex);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);   
    fill:$accent-link;   
        &:hover,
        &:focus{
    outline: none;
      fill: $my-color;
      background-color: $accent-color;  
   }
}
